.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: max(min(60px, 7vw), 40px);
}

.tagline {
  margin: 0 auto 50px auto;
  font-size: max(0.95em, 1.2vw);
  max-width: 60vw;
}

img {
  width: 34px;
  height: auto;
}

#red-text {
  color: red;
}

.PasswordArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TextBox {
  margin: 0 15px 0 15px;
  width: min(500px, 60vw);
  padding: 15px 0 15px 0; 
  background-color: #F8F8F8;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #C4C4C4;
}

.divider {
  width: 80vw;
  margin: 30px auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,0.05);
}

p {
  margin: 16px auto 0 auto;
}

.InclusionSet {
  margin: 0 auto 60px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.IncludeButton {
  padding: 10px;
  margin: 10px 15px;
  width: 120px;
  background-color: #F8F8F8;
  border-radius: 11px;
  border-style: solid;
  border-width: 1px;
  border-color: #C4C4C4;
  font-family: 'Montserrat', sans-serif;
}

.LengthSlider {
  width: 50vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LengthSlider input {
  width: min(45vw, 500px);
}